<section>
    <div class="panel-default">
        <div class="panel-body">
            <h2>About Us</h2>
            <p>
                International eShopper(i-eShopper) is a Silicon Valley based e-commerce company.
                We deliver the quality products of USA, India, Myanmar(Burma) and Puerto Rico for whom is away from home and miss the taste of home.
                We provide fast, convenient and secured shopping services for our customers.
            </p>
            <p>
                Thank you for shopping at i-eShopper!!!!
            </p>
        </div>
    </div>

</section>
