<section>
    <div class="container">
        <div class="row">
            <div class="col-sm-12 padding-right">
                <div class="product-details">
                    <div class="left-sidebar text-center">
                        <h2>Checkout Status</h2>
                        <br>
                        <br>
                        <br>
                        <div class="alert alert-success" role="alert">
                            <h1>Order Completed Successfully</h1>
                        </div>

                        <h3>We are processing your order and will ship shortly...</h3>

                        <h3>Thank You!</h3>
                        <br>
                        <br>
                        <br>
                        <a href="/" class="btn btn-success">Continue Shopping</a>
                        <br>
                        <br>
                        <br>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>